body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #313133;  */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.buttonLoading{
  border-radius: 35;
  background-color: "white";
  padding: "18px 36px";
  font-size: "18px";
}




.error{
	color:red;
	font-size: 75%;
}
.load{
	color:black;
	font-size: 75%;
}
body{
	color:black;

}
.select{
  background-color: lightblue;
  border-radius:25px;
  padding:10px
}